@charset "UTF-8";

body {
    background-color: rgb(57, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
}
h1{
    color: white;
}
a{
    color: white;
}
