@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #84E1AD;
}

header{
    height: 180px;
    background-image: linear-gradient(to bottom, #3ddc84 4%, #2FA866 35%, #1A5C38);
    text-align: center;
    color: white;
    box-shadow: 2px 2px 3px #1a5c38bb;
}

header>h1{
    margin: 0px;
    padding-top: 24px;
    font-family: "Bebas Neue", cursive;
    font-weight: lighter;
    font-size: 2.5em;
}

header>p{
    text-align: center;
}

nav{
    text-align: left;
    margin: 1em;
    padding: 8px 0;
}

nav>a{
    font-size: 0.9em;
    color: #8de2b3;
    text-decoration: none;
    padding: 0 8px;
}

nav>a:hover{
    color: #1A5C38;
    font-weight: bolder;
    padding: 0.4em;
    background-color: #8de2b3;
    border-radius: 4px;
}

/* Conteúdo Principal */
main{
    background-color: white;
    max-width: 600px;
    height: 100%;
    margin: auto;
    padding: 12px;
    box-shadow: 2px 2px 5px #0000006e;
    border-radius: 0 0 8px 8px;
}

section>h1#principal{
    font-family: 'idroid', sans-serif;
    color: #2FA866;
    margin: 0;
}

main>article>h2{
    font-family: 'idroid', sans-serif;
    color: #2FA866;
    background-image: linear-gradient(to right,#4ce29096 40%, white);
    font-size: 1.2em;
}

p{
    text-align: justify;
    text-indent: 2em;
}

span{
    color: #1A5C38;
    font-weight: bolder;
}

article>p>a{
    color: #1A5C38;
    background-color: #4ce29096;
    font-weight: bolder;
    text-decoration: none;
}

article>p>a:hover{
    text-decoration: underline;
}

article>p>a::after{
    content: '\1F517';
}

img{ 
    display: flex;
    margin: auto; 
}

picture>img{
    width: 100%;
}

iframe{
    display: flex;
    margin: auto;
}

/* Lista de curiosidades */
aside#lista{
    background-color: #84E1AD;
    border-radius: 12px;
    margin-top: 12px;
    padding-bottom: 4px;
    box-shadow: 2px 2px 5px #0000006e;
}

aside#lista>h3{
    color: white;
    background-color: #2FA866;
    padding: 8px;
    text-indent: 2em;
    font-size: 1.1em;
    border-radius: 12px 12px 0px 0;
    box-shadow: 1px 1px 3px #0000006e;
}

aside#lista>p{
    padding: 0 12px;
}

aside#lista>p>a{
    color: #1A5C38;
    font-weight: bolder;
    text-decoration: none;
}

aside#lista>p>a:hover{
    text-decoration: underline;
}

aside#lista>p>a::after{
    content: '\1F517';
}

aside#lista>ul>li{
    text-decoration: underline;
}

aside#lista>ul>li::before{
    content: '\2714';
}

/* Rodapé */
footer{
    background-color: #1A5C38;
    padding: 4px;
    margin-top: 20px;
}

footer>p{
    text-align: center;
    color: white;
    margin: 0;
}